body{
    overflow-x:hidden !important;
    font-family: 'Montserrat', sans-serif !important;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */

}

@import "https://code.highcharts.com/css/highcharts.css";


#portfolio_chart .highcharts-container{
    font-family: 'Montserrat', sans-serif !important;
}

#portfolio_chart .highcharts-background{
    fill: #0C0E0C;
}
#portfolio_chart .highcharts-point{
    fill: #14532d;
    stroke: #18181b;
}
#portfolio_chart .highcharts-graph{
    stroke:#157f3c;
    filter: drop-shadow(0px -3px 5px #157f3c);
}


#portfolio_chart .highcharts-area{
    stroke:#157f3c;
}
#portfolio_chart .highcharts-axis-line{
    stroke:#14532d;
}
#portfolio_chart .highcharts-tick{
    stroke:#14532d;
}
#portfolio_chart .highcharts-grid-line{
    stroke: #14532d;
    opacity: 0.33;
    filter: drop-shadow(0px -3px 5px #157f3c);
}
#portfolio_chart .highcharts-axis-labels{
    fill: whitesmoke;
    filter: drop-shadow(1px 1px 2px whitesmoke);
}
#portfolio_chart .highcharts-loading {
    background-color: #14532d;    
}
#portfolio_chart .highcharts-title{
    font-size:1.75rem;
    font-weight: 100;
    fill : white;
    
}

#portfolio_chart .highcharts-tooltip{
}
#portfolio_chart .highcharts-tooltip-box{
    fill: #18181b;
    stroke: #14532d;
}
#portfolio_chart .highcharts-tooltip text{
    fill: white;
}
#portfolio_chart .highcharts-tooltip-header{

}

#portfolio_chart .highcharts-candlestick-series .highcharts-point-up{
    fill: #22c55e;
    stroke: none ;
    filter: url(#glow) !important;
}
#portfolio_chart .highcharts-candlestick-series .highcharts-point-down{
    fill: #c43a31;
    stroke: none ;
    filter: url(#glow) !important;
}

#gradient-0 stop {
    stop-color: #157f3c;
}
#gradient-0 stop[offset="0"] {
    stop-opacity: 0.3;
}
#gradient-0 stop[offset="1"] {
    stop-opacity: 0.1;
}
#gradient-1 stop {
    stop-color: #0C0E0C;
    filter:url(#f1) !important;
}

#gradient-1 stop[offset="0"] {
    stop-opacity: 0.05;
}

#gradient-1 stop[offset="1"] {
    stop-opacity: 0.01;
    
}


#portfolio_chart .highcharts-plot-background {
    fill: url(#gradient-1);
}

#portfolio_chart .highcharts-color-0 .highcharts-area {
    fill-opacity: 1;
    fill: url(#gradient-0);
}

.icon{
    vertical-align: bottom !important;
}